/* CLEAR */

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

/* CLEAR */


/* NAVBAR ========================== */
/* NAVBAR ========================== */
/* NAVBAR ========================== */

#navbar {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    gap: 0 3rem;
    z-index: 999;
    padding: 0 2rem;
}

.goDown {
    animation: navDown .7s linear;
}

/* .goUp {
    animation: navUp .7s linear;
}

@keyframes navUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
} */

@keyframes navDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#navbar .items1 {
    flex-shrink: 3;
    padding: 1rem 1rem;
    border-right: 1px solid rgba(18, 74, 47, 0.1);
}

#navbar .items1 a .logo {
    width: 12rem;
}

#navbar .items2 {
    flex-grow: 2;
}

#navbar .items2 ul {
    list-style: none;
    display: flex;
    gap: 0 1rem;
}

#navbar .items2 ul li a{
    font-size: 1rem;
}

#navbar .items3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 2;
}

#navbar .items3 .choise1 {
    border-radius: 14px;
    background-color: #1e611e;
    color: white;
    font-weight: 600;
    padding: 12px 24px;
}

#navbar .items3 .choise2 .dot-menu {
    width: 2rem;
    display: flex;
    align-items: center;
}

#navbar .bar {
    padding: 8px 12px;
    border: 1px solid #124a2f;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}


/* FIRST SECTION ===================*/
/* FIRST SECTION ===================*/
/* FIRST SECTION ===================*/

#firstSection {
    height: 100vh;
    padding: 0 4rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #FCFAF7;
}

#firstSection .container {
    display: flex;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-bsox;
    margin: auto;
}

#firstSection .shape1 {
    position: absolute;
    left: 0;
    top: 4px;
    animation: bottom-up 4s infinite;
}

#firstSection .shape2 {
    position: absolute;
    right: 2px;
    top: 0;
    animation: left-right 4s infinite;
}

#firstSection .shape3 {
    position: absolute;
    right: 2px;
    bottom: 0;
    animation: left-right 4s infinite;
}


@keyframes left-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1rem);
    }
}

@keyframes bottom-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3rem);
    }
}

@keyframes bottom-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3rem);
    }
}

/* SECTION 1 LEFT SIDE */

#firstSection .left-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#firstSection .left-side h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #124a2f;
}

#firstSection .left-side p {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem 0;
}

#firstSection .left-side button {
    font-weight: 600;
    padding: 18px 40px;
    margin-right: 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .3s;
    background-color: #f3d0a1;
}

#firstSection .left-side button:nth-child(2) {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(6, 56, 32);
}

#firstSection .left-side button:hover {
    background-color: rgb(18, 74, 47);
    color: white;
}

/* SECTION 1 RIGHT SIDE ============*/
/* SECTION 1 RIGHT SIDE ============*/

#firstSection .right-side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 2rem;
    box-sizing: border-box;
}

#firstSection .right-side .right-img {
    position: relative;
}

#firstSection .right-side .right-img .image {
    width: 500px;
    height: 500px;
    background-image: url("assets/imgs/1-1.jpg");
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    border-radius: 100%;
}

#firstSection .right-img .img-bg{
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    right: -6rem;
    border-radius: 0 16rem 16rem 0  ;
    background-color: #f7ca8f;
}




/* SECOND SECTION ======================*/
/* SECOND SECTION ======================*/
/* SECOND SECTION ======================*/


#secondSection {
    width: 100%;
    position: relative;
}

#secondSection .content {
    width: 100%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: #124a2f;
}

#secondSection .feature-sect .features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#secondSection .feature-sect .features .feature-cards {
    flex: 0 0 30%;
    margin: 0 1rem 3rem 0;
    background-color: white;
    border-radius: 20px;
}

.features .feature-cards .feature-content {
    padding: 2rem;
    border-radius: 20px;
    transition: all 0.3s ease-out 0s;
}

.features .feature-cards .feature-content:hover {
    background-color: wheat;
}


.features .feature-cards .feature-content .img-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0.9rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out 0s;
}

.features .feature-cards .feature-content:hover .img-icon a {
    background-color: white;
}

.img-icon i {
    font-size: 2rem;
    transform: translate(-15px, 12px) rotate(-45deg);
}

#secondSection .achievements {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

#secondSection .achievements .achiev-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    flex: 0 0 25%;
    margin-bottom: 1rem;
}

#secondSection .achievements .achiev-child h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
}

#secondSection .achievements .achiev-child i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#secondSection .badge {
    width: 10rem;
    height: 15rem;
    padding: 2rem;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 13rem;
    top: 40%;
    border-radius: 0 0 100px 100px;
    border: 1px solid black;
    border-top: 3px solid black;
}

#secondSection .badge h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #124a2f;
}

#secondSection .badge p {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #237c23;
}

#secondSection .badge i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #237c23;
    transform: rotate(-30deg);
}





/* THIRD SECTION ================================*/
/* THIRD SECTION ================================*/
/* THIRD SECTION ================================*/

#thirdSect {
    padding: 5rem 0 4rem;
}

#thirdSect .choices {
    display: flex;
    gap:  1rem 0;
}

#thirdSect .choices .p-choice {
    height: 5rem;
    width: 25%;
    flex: 0 0 25%;
    padding: 0 2rem;
    box-sizing: border-box;
}

#thirdSect .choices .p-choice .choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#thirdSect .choices .p-choice .choice .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

#thirdSect .choices .p-choice .choice .icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transform: rotate(-45deg);
    transition: all 0.2s;
    font-size: 2rem;
    padding: 0.5rem;
}

.choice:hover .icon i {
    transition: all 0.2s;
    background-color: #1e611e;
    color: white;
}

/* SECTION 4  ===========================*/
/* SECTION 4  ===========================*/
/* SECTION 4  ===========================*/


#fourthSect {
    padding: 4rem 6rem;
}

#fourthSect .sides {
    display: flex;
}

#fourthSect .sides .img-left {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex: 0 0 47%;
    box-sizing: border-box;
    transform: scaleX(-1);
}


#fourthSect .sides .right-expl {
    flex: 0 0 52.888%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0 3rem;
}

#fourthSect .sides .right-expl .heading span {
    margin-bottom: 1rem;
    color: #0B3D2C;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

#fourthSect .sides .right-expl .heading span img {
    margin-right: 10px;
}

#fourthSect .sides .right-expl .heading h2 {
    margin-bottom: 2rem;
    color: #0B3D2C;
    font-size: 2.7rem;
}

#fourthSect .sides .right-expl .parag-expl {
    margin-bottom: 2rem;
}

#fourthSect .sides .right-expl .expl-list {
    display: flex;
    flex-wrap: wrap;
}

#fourthSect .sides .right-expl .expl-list .list {
    margin-bottom: 1rem;
    padding: 0 .5rem 0 0;
    box-sizing: border-box;
    flex: 0 50%;
}

#fourthSect .sides .right-expl .expl-list .list h4 {
    font-size: 1.5rem;
    margin-bottom: 6px;
    color: #0B3D2C;
}




/* FIFTH SECTION ======================= */
/* FIFTH SECTION ======================= */
/* FIFTH SECTION ======================= */

#fifthSect {
    padding: 5rem 0 2rem;
    color: #0B3D2C;
}

#fifthSect .container {
    max-width: 1080px;
    margin: 0 auto;
}

#fifthSect .container .cont-child .header {
    margin-bottom: 4rem;
}

#fifthSect .container .cont-child .header .wt-we, .we-cr {
    text-align: center;
    margin: 0 2rem;
    
}

#fifthSect .container .cont-child .header p {
    font-size: 1.5rem;
}

#fifthSect .container .cont-child .header h1 {
    font-size: 2.5rem;
}


#fifthSect .container .cont-child .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fifthSect .container .cont-child .cards .cards-divider {
    flex: 0 0 25%;
    margin-bottom: 4rem;
    padding: 0 .8rem;
    box-sizing: border-box;
}

#fifthSect .container .cont-child .cards .cards-divider .card {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #f8f4ee;
    border-radius: 10px;
    transition: all .4s ease-out;
    color: #0B3D2C;
}

#fifthSect .container .cont-child .cards .cards-divider .card:hover {
    background-color: white;
    box-shadow: 1px 2px 6px -3px rgba(0, 0, 0, 0.541);
}

#fifthSect .container .cont-child .cards .cards-divider .card:hover .icon-top {
    background-color: #F1D3AB;
}

#fifthSect .container .cont-child .cards .cards-divider .card:hover .icon {
    background-color: #F1D3AB;
}

#fifthSect .container .cont-child .cards .cards-divider .card .icon-top {
    position: absolute;
    top: -2rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
    transition: all .4s ease-out;
}

#fifthSect .container .cont-child .cards .cards-divider .card p {
    flex-grow: 1;
}

#fifthSect .container .cont-child .cards .cards-divider .card h4 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

#fifthSect .container .cont-child .cards .cards-divider .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background-color: white;
    transition: all .4s ease-out;
}

#fifthSect .container .cont-child .cards .cards-divider .card  .icon i {
    transform: translate(-1rem, 1rem) rotate(-45deg);
}



/* SIXTH SECTION =====================*/
/* SIXTH SECTION =====================*/
/* SIXTH SECTION =====================*/

 
#sectSixth {
    width: 100%;
    margin-bottom: 4rem;
}

#sectSixth .slide-cards {
    width: 90%;
    margin: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    overflow: scroll;
}

.slide-cards::-webkit-scrollbar {
    width: 1rem;
}

.slide-cards::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.06);
}

.slide-cards::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.026);
    border-radius: 50px;
}

#sectSixth .slide-cards .slide-card {
    flex: 0 0 24%;
    height: 330px;
    box-sizing: border-box;
    margin: 0 .5rem;
    position: relative;
    overflow: hidden;
    color: white;
}

#sectSixth .slide-cards .slide-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sectSixth .slide-cards .slide-card .slide-content {
    position: absolute;
    right: 0;
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
}

#sectSixth .slide-cards .slide-card .slide-content a {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

#sectSixth .slide-cards .slide-card .slide-hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
}


#sectSixth .slide-cards .slide-card .slide-hover span {
    flex-grow: 1;
    font-size: 1.3rem;
}

#sectSixth .slide-cards .slide-card .slide-hover .content-ins{
    margin-bottom: 1rem;
}

#sectSixth .slide-cards .slide-card .slide-hover .content-ins p {
    display: inline-block;
}

#sectSixth .slide-cards .slide-card .slide-hover .content-ins h4{
    font-size: 1.2rem;
}

#sectSixth .slide-cards .slide-card:hover .slide-hover {
    right: 0;
    opacity: 1;
    left: 0;
}

#sectSixth .slide-cards .slide-card:hover .slide-content {
    opacity: 0;
    right: -100%;

}

#sectSixth .slide-cards .slide-card .slide-hover .icon-slider a {
    color: white;
    border-radius: 50px;
    padding: 1rem 1.2rem;
    border: 1px solid white;
}

#sectSixth .slide-cards .slide-card .slide-hover .icon-slider {
    margin-top: 1rem;
}

#sectSixth .slide-cards .slide-card img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

/* SIXTH SECTION ======================== */
/* SIXTH SECTION ======================== */
/* SIXTH SECTION ======================== */


/* SEVENTH SECTION ====================== */
/* SEVENTH SECTION ====================== */
/* SEVENTH SECTION ====================== */


#seventhSect {
    padding: 3rem;
    color: #0B3D2C;
}

#seventhSect .containers {
    max-width: 1100px;
    margin: 0 auto;
}

#seventhSect .containers .member-headers {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

#seventhSect .containers .member-headers h5 {
    font-size: 1.4rem;
    font-weight: 500;
}
#seventhSect .containers .member-headers h2{
    font-size: 2rem;
}

#seventhSect .containers .member-wrapper {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

#seventhSect .containers .member-wrapper .member-card {
    flex: 0 0 25%;
    padding: 0 1rem;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

#seventhSect .containers .member-wrapper .member-card-fo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#seventhSect .containers .member-wrapper .member-card-fo h3 {
    font-size: 5rem;
}

#seventhSect .containers .member-wrapper .member-card-fo p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#seventhSect .containers .member-wrapper .member-card-fo hr {
    margin-bottom: 1rem;
}

#seventhSect .containers .member-wrapper .member-card-fo a {
    font-weight: 600;
    color: #146a4e;
    text-decoration: underline;
}

#seventhSect .containers .member-wrapper .member-card .member-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 13rem;
    border-radius: 20px;
    width: 100%;
}

#seventhSect .containers .member-wrapper .member-card .member-img img {
    height: 15rem;
}

#seventhSect .containers .member-wrapper .member-card .member-img .member-icons {
    position: absolute;
    bottom: -100%;
    z-index: 5;
    padding: .5rem 1rem;
    background-color: #0B3D2C;
    color: white;
    transition: all .3s;
}

#seventhSect .containers .member-wrapper .member-card .member-img .member-icons i{
    margin-right: 3px;
}

#seventhSect .containers .member-wrapper .member-card .member-img:hover .member-icons {
    bottom: 10px;
}

#seventhSect .containers .member-wrapper .member-card .member-name {
    margin-top: 1rem;
}

/* SEVENTH SECTION ======================== */
/* SEVENTH SECTION ======================== */
/* SEVENTH SECTION ======================== */

/* EIGHT SECTION ========================== */
/* EIGHT SECTION ========================== */
/* EIGHT SECTION ========================== */

#eightSect {
    padding: 4rem 6rem;
    margin-top: 2rem;
}

#eightSect .sides {
    display: flex;
}

#eightSect .sides .img-left {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex: 0 0 48%;
    box-sizing: border-box;
}


#eightSect .sides .right-expl {
    flex: 0 0 52.888%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0 3rem;
    margin-top: 2rem;
}

#eightSect .sides .right-expl .heading span {
    margin-bottom: 1rem;
    color: #0B3D2C;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

#eightSect .sides .right-expl .heading span img {
    margin-right: 10px;
}

#eightSect .sides .right-expl .heading h2 {
    margin-bottom: 1rem;
    color: #0B3D2C;
    font-size: 2.3rem;
}

#eightSect .sides .right-expl .parag-expl {
    margin-bottom: 1rem;
}

#eightSect .right-offer .offers {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: .3rem 0 ;
    font-size: 1.5rem;
}

#eightSect .right-offer {
    color: #0B3D2C;
}

#eightSect .right-offer .offers i {
    transform: rotate(-45deg);
    padding: 1rem;
}

#eightSect .right-offer button {
    margin-top: 2rem;
    background-color: #0B3D2C;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    transition: all 0.2s;
}

#eightSect .right-offer button:hover {
    background-color: #127e34;
}




/* EIGTH SECTION ========================== */
/* EIGTH SECTION ========================== */
/* EIGTH SECTION ========================== */





/* NINTH SECT ============================= */
/* NINTH SECT ============================= */
/* NINTH SECT ============================= */



#ninthSect {
    padding: 0 3rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

#ninthSect .everySect {
    color: white;
    padding: 2rem;
    background-color: rgb(7, 83, 7);
}

#ninthSect .everySect .upSides {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

#ninthSect .everySect .upSides .icon {
    color: white;
    font-size: 5rem;
    padding: 0 1.5rem;
    transform: rotate(-45deg);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#ninthSect .everySect .upSides .textGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 65%;
}

#ninthSect .everySect .upSides .textGroup h2 {
    font-size: 7rem;
    margin-right: 2rem;
}

#ninthSect .everySect .upSides .textGroup p {
    font-size: 1.5rem;
    flex: 0 0 50%;
}


#ninthSect .everySect .bottomSides {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: center;
    padding-top: 5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#ninthSect .everySect .bottomSides .navigation {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ninthSect .everySect .bottomSides .content {
    flex: 0 0 80%;
    display: flex;
    overflow: auto;
}

#ninthSect .everySect .bottomSides .content .content-cards {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 2rem;
}

#ninthSect .everySect .bottomSides .content .content-cards .image {
    display: flex;
    align-items: center;
    flex: 0 0 30%;
}

#ninthSect .everySect .bottomSides .content .content-cards .image img {
    aspect-ratio: 1;
    border-radius: 50%;
}

#ninthSect .everySect .bottomSides .content .content-cards .content-expl {
    flex: 0 0 65%;
}

#ninthSect .everySect .bottomSides .content .content-cards .content-expl .quotes {
    display: flex;
}

#ninthSect .everySect .bottomSides .content .content-cards .content-expl .quotes i {
    font-size: 3rem;
    margin-right: 1rem;
}

#ninthSect .everySect .bottomSides .content .content-cards .content-expl .expl {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 253, 253, 0.2);
}

#ninthSect .everySect .bottomSides .content .content-cards ul {
    display: flex;
    list-style: none;
    gap: 4px;
}

#ninthSect .everySect .bottomSides .content p {
    font-size: 1.2rem;
    line-height: 2rem;
}


/* NINTH SECT ============================= */
/* NINTH SECT ============================= */
/* NINTH SECT ============================= */


/* TENTH SECT ============================= */
/* TENTH SECT ============================= */
/* TENTH SECT ============================= */

#tenthSect {
    margin: 2rem 0;
}

#tenthSect .container-blog {
    max-width: 1100px;
    margin: 0 auto;
}

#tenthSect .container-blog .blog-heading {
    text-align: center;
    margin-bottom: 2rem;
}

#tenthSect .container-blog .blog-heading span {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tenthSect .container-blog .blogs {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#tenthSect .container-blog .blogs .blog-card {
    display: flex;
    flex: 0 0 50%;
    padding-right: 2rem;
    box-sizing: border-box;
}

#tenthSect .container-blog .blogs .blog-card .blog-expl {
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    border-radius: 15px;
}

#tenthSect .container-blog .blogs .blog-card .blog-expl span {
    margin-bottom: .6rem;
}

#tenthSect .container-blog .blogs .blog-card .blog-expl h4 {
    margin-bottom: 1rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
}

#tenthSect .container-blog .blogs .blog-card .blog-expl h4 a {
    text-decoration: none;
}

#tenthSect .container-blog .blogs .blog-card .blog-expl p {
    margin-bottom: .4rem;
}

#tenthSect .container-blog .blogs .blog-card .blog-expl a {
    text-decoration: underline;
}

#tenthSect .container-blog .blogs .blog-card .blog-img {
    flex: 0 0 40%;
    margin-inline-start: -35px;
}

#tenthSect .container-blog .blogs .blog-card .blog-img img {
    width: 100%;
    height: 80%;
    border-radius: 20px;
}

/* TENTH SECT ============================= */
/* TENTH SECT ============================= */
/* TENTH SECT ============================= */


/* ELEVENTH SECT ========================== */
/* ELEVENTH SECT ========================== */
/* ELEVENTH SECT ========================== */

#eleventhSect {
    background-color: #FCFAF7;
    padding: 3rem 0;
}

#eleventhSect .footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

#eleventhSect .footer-container .footers {
    display: flex;
    width: 100%;
}

#eleventhSect .footer-container .footers .footer-child {
    flex: 0 0 25%;
    padding: 0 0 0 2rem;
    box-sizing: border-box;
}

#eleventhSect .footer-container .footers .footer-child p {
    margin-top: 1rem;
    margin-bottom: 2px;
    line-height: 1.5em;
    font-size: 14px;
}

#eleventhSect .footer-container .footers .footer-child form {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

#eleventhSect .footer-container .footers .footer-child form input {
    width: 100%;
    padding: 16px 6px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    position: absolute;
    box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.245);
}

#eleventhSect .footer-container .footers .footer-child form button {
    position: absolute;
    background-color: #0B3D2C;
    right: .5rem;
    border: 0;
    color: white;
    padding: 6px 8px;
    transition: .5s;
}

#eleventhSect .footer-container .footers .footer-child form button:hover {
    background-color: #127e34;
}

#eleventhSect .footer-container .footers .footer-child:nth-child(3) ul {
    margin-top: 1rem;
    list-style-type: none;
}

/* #eleventhSect .footer-container .footers .footer-child:nth-child(3) ul li {
    padding: 0 0 4px;
}

#eleventhSect .footer-container .footers .footer-child:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

#eleventhSect .footer-container .footers .footer-child:nth-child(4) .footer-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

#eleventhSect .footer-container .footers .footer-child:nth-child(4) .footer-gallery .gallery-img {
    flex: 0 0 30%;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#eleventhSect .footer-container .footers .footer-child:nth-child(4) .footer-gallery .gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#eleventhSect .footer-container .footers .footer-child:nth-child(4) .footer-gallery .gallery-img .links-glry {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 125, 52, 0.6);
    display: flex;
    opacity: 0;
    transition: all 0.5s ease;
    justify-content: center;
    align-items: center;
}

#eleventhSect .footer-container .footers .footer-child:nth-child(4) .footer-gallery .gallery-img .links-glry:hover {
    opacity: 1;
}

#eleventhSect .footer-container .footers .footer-child:nth-child(4) .footer-gallery .gallery-img .links-glry .icon {
    transform: rotate(-45deg);
    background-color: #f3d0a1;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eleventhSect .footer-container .footers .footer-child:nth-child(4) .footer-gallery .gallery-img .links-glry:hover .icon {
    opacity: 1;
}

/* ELEVENTH SECT ========================== */
/* ELEVENTH SECT ========================== */
/* ELEVENTH SECT ========================== */







/* MEDIA QUERY */

/* TABLET MODE ======================== */
/* TABLET MODE ======================== */
/* TABLET MODE ======================== */
@media (max-width: 1120px) {

    #navbar .items2 {
        display: none;
    }
    
    #navbar .items3 {
        display: none;
    }
    
    #navbar .bar {
        display: block;
    }

    #firstSection {
        padding: 0 1rem;
    }
    
    #firstSection .shape3 {
        width: 20rem;
    }
    
    #firstSection .shape2 {
        width: 40rem;
    }

    #firstSection .shape1 {
        width: 6rem;
    }
    
    #firstSection .right-side .right-img .image {
        display: none;
    }
    
    #firstSection .container {
        justify-content: start;
    }
    
    #firstSection .container .left-side {
        width: 90%;
        z-index: 1;
    }
    
    #firstSection .container .left-side h1{
        font-size: 4rem;
    }
    
    #firstSection .container .left-side p {
        font-size: 1.2rem;
    }

    #secondSection .feature-sect .features .feature-cards {
        flex: 0 0 45%;
        margin: 0 1rem 2rem 0 ;
    }

    #secondSection .achievements .achiev-child {
        display: flex;
        flex: 0 0 40%;
    }

    #thirdSect .choices {
        flex-wrap: wrap;
    }

    #thirdSect .choices .p-choice {
        margin: 0 -1rem;
        flex: 0 0 50%;
    }

    #fourthSect {
        padding: 1rem;
    }

    #fourthSect .sides .img-left {
        flex: 0 0 42%;
    }
    
    #fourthSect .sides .right-expl {
        padding: 0 ; 
    }

    #fourthSect .sides .right-expl {
        flex: 0 0 58.888%;
        box-sizing: border-box;
    }

    #fourthSect .sides .right-expl .expl-list .list h4 {
        font-size: 1.2rem;
    }
    
    #fourthSect .sides .right-expl .heading h2 {
        font-size: 2rem;
    }

    #fifthSect .container .cont-child .cards .cards-divider {
        flex: 0 0 30%;
    }

    #sectSixth .slide-cards {
        overflow: auto;
    }

    #sectSixth .slide-cards .slide-card {
        flex: 0 0 33%;
    }

    #seventhSect .containers .member-wrapper .member-card {
        flex: 0 0 50%;
    }

    #eightSect {
        padding: 1rem;
    }

    #eightSect .sides .img-left {
        flex: 0 0 42%;
    }
    
    #eightSect .sides .right-expl {
        padding: 0 ; 
    }

    #eightSect .sides .right-expl {
        flex: 0 0 58.888%;
        box-sizing: border-box;
    }

    #ninthSect {
        padding: 0;
        margin-top: 3rem;
    }

    #ninthSect .everySect .upSides .icon {
        color: white;
        font-size: 4rem;
        padding: 0 1.3rem;
    }
    
    #ninthSect .everySect .upSides .textGroup h2 {
        font-size: 5rem;
        margin-right: 2rem;
    }
    
    #ninthSect .everySect .upSides .textGroup p {
        font-size: 1.3rem;
    }
        
    #ninthSect .everySect .bottomSides .content p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #tenthSect .container-blog .blogs .blog-card {
        flex: 0 0 46%;
        margin: 0 1rem;
    }
    
    #tenthSect .container-blog .blogs .blog-card .blog-expl {
        flex: 0 0 100%;
    }
    
    #tenthSect .container-blog .blogs .blog-card .blog-img {
        display: none;
    }


}


@media (max-width: 950px){
    #fifthSect .container .cont-child .cards .cards-divider {
        flex: 0 0 40%;
    }

    
    #eleventhSect .footer-container .footers {
        flex-wrap: wrap;
    }


    #eleventhSect .footer-container .footers .footer-child {
        flex: 0 0 50%;
    }
    
    
    #tenthSect .container-blog .blogs .blog-card {
        flex: 100%;
    }

}




/* HANDPHONE MODE ====================== */
/* HANDPHONE MODE ====================== */
/* HANDPHONE MODE ====================== */
@media (max-width: 768px) {


    #firstSection {
        padding: 0 0 0 10px;
        box-sizing: content-box;
    }

    #navbar .items3 {
        display: none;
    }

    #firstSection .container .left-side {
        flex: 0 0 100%;
    }

    #firstSection .container .left-side h1{
        font-size: 2.2rem;
    }
    
    #firstSection .container {
        display: flex;
        padding: 0 5px;
    }

    #secondSection .feature-sect .features .feature-cards {
        flex: 0 0 100%;
        margin: 0 1rem 2rem 0 ;
    }

    #secondSection .achievements .achiev-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        flex: 0 0 100%;
        margin-bottom: 3rem;
    }

    #thirdSect .choices .p-choice {
        flex: 0 0 100%;
    }


    #fourthSect .sides {
        flex-direction: column;
    }

    #fourthSect .sides .right-expl .heading h2 {
    font-size: 2rem;
    }

    #fourthSect .sides .right-expl .expl-list .list p {
        font-size: .8rem;
    }


    #fifthSect .container .cont-child .cards .cards-divider {
        flex: 0 0 80%;
    }

    #fifthSect .container .cont-child .cards .cards-divider .card {
        height: 15rem;
    }

    #sectSixth .slide-cards .slide-card {
        flex: 0 0 90%;
    }

    #seventhSect {
        padding: 0 1rem;
    }

    #seventhSect .containers .member-wrapper .member-card {
        flex: 0 0 100%;
    }
    
    #eightSect {
        padding: 0 1rem;
    }

    #eightSect .sides {
        flex-direction: column;
    }

    #ninthSect .everySect .bottomSides {
        flex-direction: column;
        padding: 2rem 0;
    }

    #ninthSect .everySect .bottomSides .navigation {
        flex-direction: row;
        justify-content: start;
        margin-bottom: 1rem;
    }

    #ninthSect .everySect .bottomSides .content {
        overflow: auto;
    }

    #ninthSect .everySect .bottomSides .content .content-cards {
        flex-direction: column;
    }

    #ninthSect .everySect .upSides {
        flex-direction: column;
        justify-content: center;
    }

    #ninthSect .everySect .upSides .icon {
        color: white;
        font-size: 4rem;
        padding: 0 1.rem;
    }
    #ninthSect .everySect .upSides .textGroup {
        flex-direction: column;
        text-align: center;
    }
    
    #ninthSect .everySect .upSides .textGroup h2 {
        font-size: 4rem;
        margin: 0;
    }
    
    #ninthSect .everySect .upSides .textGroup p {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
        
    #ninthSect .everySect .bottomSides .content p {
        font-size: 1rem;
    }

    #ninthSect .everySect .bottomSides .content p {
        font-size: .7rem;
        line-height: 1.5rem;
    }

    #ninthSect .everySect .bottomSides .content .content-cards .content-expl {
        flex: 0;
    }
    
    #ninthSect .everySect .bottomSides .content .content-cards .image {
        justify-content: center;
        flex: 0;
    }

    #ninthSect .everySect .bottomSides .content .content-cards .image img {
        width: 14rem;
    }

    #ninthSect .everySect .bottomSides .content p {
        font-size: 1.3rem;
    }

    #eleventhSect .footer-container .footers {
        /* flex-direction: column; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        box-sizing: border-box;
    }
    
    #eleventhSect .footer-container .footers .footer-child {
        flex: 0 0 80%;
        margin-bottom: 2rem;
        padding: 0;
        text-align: center;
    }
    
}





@media (min-width: 1600px) {
    #secondSection .content {
        width: 70%;
    }

    #secondSection .badge {
        display: flex;
    }
}